<h1>Here is a list with all the users registered</h1>
{{#each userProperties}}
Email: {{this.email}} <br>
Password: {{this.password}} <br>    
<br>
{{/each}}
<button onclick="window.location.href='/auth/profile'">go back</button></h1>