<div id="allProducts">
{{#each productos}}
<p id="_titulo">TITLE: {{this.title}}</p><br>
<p id="_id">ID: {{this.id}}</p><br>
{{/each}}
<div>


<button onclick="pushear()">ACTIVO LA FUNCION PUSHEAR</button>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>