<H1>Welcome back!</H1>
<form action="/auth/login" method="POST">
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="pass" placeholder="Password"><br>
    <button onclick="summit">Log me in!</button>
</form>
<a href="/auth/register">I'm new to the site. Register me!</a>