<h1>Sign up</h1>
<form action="/auth/register" method="POST">
    <input type="text" name="firstName" placeholder="First name"> <br>
    <input type="text" name="lastName" placeholder="Last name"><br>
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="pass" placeholder="Password"><br>
    <button onclick="summit">Register me!</button>
</form>
<a href="/auth/login">Already have an account!</a>